/* Footer.css */

.footer {
    background-color: #f7f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .category-section,
  .trending-section,
  .about-section,
  .olx-section,
  .follow-us-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .category-title,
  .trending-title,
  .about-title,
  .olx-title,
  .follow-us-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .category-list,
  .trending-list,
  .about-list,
  .olx-list {
    list-style: none;
    padding: 0;
  }
  
  .category-list li,
  .trending-list li,
  .about-list li,
  .olx-list li {
    margin-bottom: 5px;
    color: #002f34;
    cursor: pointer;
  }
  
  .social-icons img {
    margin-right: 10px;
    width: 10%;
  }

  
  .app-stores img {
    margin-right: 10px;
    width: 25%;

  }
  
  